.review-card {
    border: 2px solid #85C7F2;
    margin: 10px;
    padding: 10px;
}

.review-card-row {
    display: flex;
    flex-direction: row;
}

.review-author {
    font-family: 'Chosunilbo_myungjo';
    font-weight: bold;
    margin-bottom: 5px;
}

.review-content {
    font-family: 'SUITE-Regular';
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.review-content2 {
    font-family: 'SUITE-Regular';
}

.fold-button {
    width: fit-content;
    border: none;
    background-color: transparent;
    color: #85C7F2;
    font-size: 1rem;
    font-family: 'SUITE-Regular';
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}