.footer {
    background-color: #2E2E2E;
    color: #D1D1D1;
    margin-top: 100px;
    font-family: 'Chosunilbo_myungjo';
    margin-bottom: 100px;
}

.footer ul {
    background-color: #2E2E2E;
    font-size: 1rem;
    color: #D1D1D1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline rgba(209, 209, 209, 1);
}

.footer ul li {
    padding: 10px;
    cursor: pointer;
}

.footer-text {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .footer ul {
        flex-direction: column;
    }

    .footer-text {
        font-size: 0.8rem;
    }
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}