.movie-card {
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Pretendard-Regular';
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    /* 투명도가 0이다 */
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}

.movie-title {
    font-size: 25px;
    overflow-wrap: break-word;
    font-weight: bold;
    color: white;
    font-family: 'Chosunilbo_myungjo';
}

.movie-release {
    font-size: 15px;
}

.bg-primary {
    background-color: #85C7F2 !important;
    color: #2E2E2E;
}

.movie-vote {
    font-size: 15px;
}

.movie-popularity {
    font-size: 15px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}